@import "../../../../styles/partials/variables";
@import "../../../../styles/partials/mixins";

.mainVideo {
    margin-top: 16px;

    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $black;
    }

    &__video {
        width: 100%;

        @include tablet {
            width: 700px;
        }
    }

    &__controls {
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        align-items: center;
    }

    &__playPause {
        position: relative;
        background-color: $black;
        border: none;
        opacity: .9;
        width: 15%;
        height: 40px;
        margin-top: -70px;
        margin-right: 10px;

        @include tablet {
            height: 35px;
            width: 10%;
        }
    }

    &__progress {
        position: relative;
        background-color: $black;
        border: none;
        opacity: .9;
        width: 65%;
        height: 40px;
        margin-top: -70px;
        margin-right: 10px;

        @include tablet {
            height: 35px;
            width: 519px;
            display: flex;
            align-items: center;
        }
    }

    &__progressBar {

        @include tablet {
            -webkit-appearance: none;
            appearance: none;
            width: 80%;
            height: 5px;
            padding-left: 10px;
    
            &::-webkit-progress-bar {
                background-color: $complete-black;
            }
        }
    }

    &__progressTime {
        display: none;

        @include tablet {
            font-size: 0.8rem;
            display: inline;
            color: $white;
            margin-left: 16px;
        }

    }

    &__screen-volume {
        display: flex;
        justify-content: center;
        position: relative;
        background-color: $black;
        border: none;
        opacity: .9;
        width: 20%;
        height: 40px;
        margin-top: -70px;

        @include tablet {
            height: 35px;
            width: 15%;
        }
    }
}