@import "../../../../styles/partials/mixins";
@import "../../../../styles/partials/variables";

.videoDescription {
    margin: 20px 16px;

    @include tablet {
        margin: 20px 20px;
    }

    &__title {
    
        h1 {
            @include heading-1;  
            margin-bottom: 0;
        }

        h3 {
            @include heading-3;
            font-size: 1.2rem;
            margin-right: 10px;
        }
        
        &-conversation {
            @include heading-2;

            @include tablet {
                margin-top: 50px;
                // font-size: 1rem;
            }
        }
    }

    &__channel {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        @include tablet {
            display: inline-flex;
        }

        &-date {
            color: $silver;
        }
    }

    &__icons {
        display: flex;
        margin-bottom: 30px;

        @include tablet {
            display: inline-flex;
            margin-left: 43%;
        }

        span {
            margin-right: 10px;
            margin-left: 10px;
            @include paragraph;
        }
    }

    &__divider {
        border: 0.5px solid $mercury;
    }

    &__summary {
        @include paragraph;
        font-size: 0.9rem;
        line-height: 22px;

        @include tablet {
            margin-top: 30px;
            width: 70%;
        }
    }

    &__joinConversation {
        display: flex;
        margin-bottom: 40px;
    
        &-row {
            display: flex;
        }
    
        &-heading {
            font-family: "Avenir Demi Bold";
            color: $silver;

            @include tablet {
                display: inline-block;
            }
        }
    
        &-picture {
            display: inline;
            margin-top: 20px;
            margin-right: 20px;
        }
    
        &-profilePicture {
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
    
        &-details {
            margin: 0;
            flex-grow: 1;

            @include tablet {
                display: flex;
                
                flex-wrap: wrap;
                align-items: center;
            }

            &-title {
                @include tablet {
                    width: 100%;
                }
            }
        }

        &-submit-button {
            @include tablet {
                width: 140px;
            }
        }
    
        &-submit {
            @include button;
            width: 100%;
            height: 50px;
            font-size: 1rem;
        }
    
        textarea {
            @include textarea;

            @include tablet {
                width: 70%;
                margin-right: 30px;
                height: 50px;
                font-size: 1rem;
                line-height: 40px;
            }
        }

        &-form {
            width: 100%;
        }
    }

    &__comments {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;

        margin-top: 32px;

        // @include desktop {
        //     margin-left: auto;
        //     margin-right: auto;
        // }

        &-card {
            display: flex;
            border-bottom: 1px solid $mercury;
    
            &:first-of-type {
                border-top: 1px solid $mercury;
            }
    
            // @include desktop {
            //     width: 530px;
            // }
        }

        &-profilePicture {
            margin-top: 12px;
            margin-right: 20px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 100%;

                @include tablet {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &-details {
            p {
                display: inline-block;
            }
    
            & > p {
                margin-top: 0;
            }
    
            // @include desktop {
            //     width: 460px;
            // }
        }

        &-nameAndDate {
            display: flex;
            justify-content: space-between;
    
            @include tablet {
                justify-content: flex-start;
            }
    
            &-name {
                font-family: "Avenir Demi Bold";
            
                @include tablet {
                    margin-right: 10px;
                }
            }
    
            &-date {
                color: $silver;
            }
        }


    }

    
}