// Breakpoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

// Colors

$black: #323232;
$complete-black: #000000;
$white: #FFFFFF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$silver: #AFAFAF;
$red: #D63447;

$brainflix-blue: #0095FF;
$brainflix-dark-blue: #0065AD;