@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.videoDescription {
    &__comments {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    
        &-card {
            display: flex;
            border-bottom: 1px solid $mercury;
    
            &:first-of-type {
                border-top: 1px solid $mercury;
            }
        }
    
        &-profilePicture {
            margin-top: 12px;
            margin-right: 20px;
    
            img {
                width: 50px;
                height: 50px;
                border-radius: 100%;
    
                @include tablet {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    
        &-details {
            flex-grow: 1;

            p {
                display: inline-block;
            }
    
            & > p {
                margin-top: 0;
            }
        }
    
        &-nameAndDate {
            @include paragraph;
            display: flex;
            justify-content: space-between;
    
            @include tablet {
                justify-content: flex-start;
            }
    
            &-name {
                font-family: "Avenir Demi Bold";
                font-size: 0.9rem;
            
                @include tablet {
                    margin-right: 10px;
                }
    
                @include desktop {
                    font-size: 0.8rem;
                }
            }
    
            &-date {
                color: $silver;
                font-size: 0.9rem;
    
                @include desktop {
                    font-size: 0.8rem;
                }
            }
        }
    
        &-comment {
            @include paragraph;
    
            font-size: 0.9rem;
    
            @include desktop {
                font-size: 0.8rem;
                padding-right: 5px;
            }
        }
    }
}