.header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__button {
        background-color: blue;
        color: white;
        height: 20px;
    }
}