@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";

.header {
    margin-left: 16px;
    margin-right: 16px;
    height: 169px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        height: 80px;
    }

    &__image {
        text-align: center;
        width: 100%;

        @include tablet {
            text-align: start;
            width: 20%;
            margin-right: 80px;
        }
    }

    &__logo {
        height: 30px;
        margin-bottom: 8px;
    }

    &__form {
        width: 100%;

        @include tablet {
            margin-right: 24px;
        }
    }
    

    &__search {
        width: 100%;
        height: 50px;
        margin-bottom: 8px;
        background: url(../../assets/icons/svg/Icon-search.svg) no-repeat scroll 7px 15px;
        padding-left: 35px;
        border: 1px solid $mercury;
        border-radius: 5px;

        @include tablet {
            margin-bottom: 0;
            font-size: 1rem;
        }
    }

    &__button {
        @include button;
        width: 70%;
        margin-right: 20px;
        font-size: 1.2rem;

        @include tablet {
            width: 60%;
            height: 50px;
        }
    }

    &__upload {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include tablet {
            align-items: center;
            justify-content: space-around;
        }
    }

    &__profile-picture {
        width: 70px;
        height: 70px;
        border-radius: 100%;

        @include tablet {
            width: 50px;
            height: 50px;
        }
    }
}