@import "./typography";

@mixin mobile {
    @media screen and (min-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin button {
    font-family: "Avenir Bold";
    background-color: $brainflix-blue;
    border: none;
    border-radius: 5px;
    color: $white;
    height: 100%;
    cursor: pointer;
    transition: 1s;

    &:hover {
        background-color: $brainflix-dark-blue;
    }

    @include tablet {
        font-size: 1rem;
    }
}

@mixin button-reverse {
    font-family: "Avenir Bold";
    background-color: $white;
    border: none;
    border-radius: 5px;
    color: $brainflix-blue;
    height: 100%;
    cursor: pointer;
    transition: 1s;

    &:hover {
        background-color: $mercury;
        color: $brainflix-dark-blue;
    }

    @include tablet {
        font-size: 1rem;
    }
}

@mixin textinput {
    font-family: "Avenir Regular";
    background-color: $alabaster;
    border: 1px solid $mercury;
    border-radius: 3px;
    width: 100%;
    line-height: 2em;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

@mixin divider {
    border: 0.5px solid $mercury;

    @include desktop {
        width: 100%;
    }
}

@mixin heading-1 {
    font-family: "Avenir Bold";
    font-size: 1.8rem;
    line-height: 32px;
}

@mixin heading-2 {
    font-family: "Avenir Demi Bold";
    font-size: 1.2rem;
    line-height: 22px;
}

@mixin heading-3 {
    font-family: "Avenir Demi Bold";
    font-size: 1.1rem;
    line-height: 18px;
}

@mixin heading-4 {
    font-family: "Avenir Regular";
    font-size: 1.1rem;
    line-height: 18px;
}

@mixin heading-5 {
    font-family: "Avenir Regular";
    font-size: 0.9rem;
    line-height: 20px;
}

@mixin paragraph {
    font-family: "Avenir Regular";
    font-size: 1rem;
    color: $black;
}