@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.videoDescription {
    margin: 20px 16px;

    @include tablet {
        margin: 20px 20px;
    }

    @include desktop
    {
        width: 50%;
        display: inline-flex;
        flex-direction: column;
        margin: 0px 20px 0 100px;
        border-right: 0.5px solid $mercury;
    }

    &__videoTitle {
        @include heading-1;  
        margin-bottom: 0;
        font-size: 1.6rem;

        @include tablet {
            font-size: 1.8rem;
        }
    }

    &__channel {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        @include tablet {
            display: inline-flex;
        }

        @include desktop {
            margin-bottom: 0;
        }

        &-author {
            @include heading-3;
            font-size: 1.2rem;
            margin-right: 10px;
    
            @include desktop {
                font-size: 0.8rem;
            }
        }

        &-date {
            @include paragraph;
            color: $silver;

            @include desktop {
                font-size: 0.8rem;
            }
        }
    }

    &__icons {
        display: flex;
        margin-bottom: 30px;

        @include tablet {
            display: inline-flex;
            margin-left: 40%;
        }

        @include desktop {
            margin-left: 35%;
            font-size: 0.8rem;
            margin-bottom: 0px;
        }

        span {
            margin-right: 10px;
            margin-left: 10px;
            @include paragraph;

            @include desktop {
                font-size: 0.8rem;
            }
        }
    }

    &__divider {
        @include divider;
    }

    &__summary {
        @include paragraph;
        font-size: 0.9rem;
        line-height: 22px;

        @include tablet {
            margin-top: 30px;
            width: 70%;
        }

        @include desktop {
            margin-top: 10px;
            font-size: 0.8rem;
        }
    }

    &__title {

        &-conversation {
            @include heading-2;
            margin-top: 30px;

            @include tablet {
                margin-top: 50px;
            }

            @include desktop {
                font-size: 1rem;
            }
        }
    }

    &__joinConversation {
        display: flex;
        margin-bottom: 40px;
    
        &-row {
            display: flex;
            margin-top: 10px;
        }
    
        &-heading {
            font-family: "Avenir Demi Bold";
            color: $silver;

            @include tablet {
                display: inline-block;
            }

            @include desktop {
                font-size: 0.8rem;
            }
        }
    
        &-picture {
            display: inline;
            margin-top: 20px;
            margin-right: 20px;
        }
    
        &-profilePicture {
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
    
        &-details {
            margin: 0;
            flex-grow: 1;

            @include tablet {
                display: flex;
                
                flex-wrap: wrap;
                align-items: center;
            }

            &-title {
                @include tablet {
                    width: 100%;
                }
            }
        }

        &-submit-button {
            @include tablet {
                width: 140px;
            }
        }
    
        &-submit {
            @include button;

            width: 100%;
            height: 50px;
            font-size: 1rem;

            @include desktop {
                width: 90%;
                height: 40px;
                font-size: 0.8rem;
            }
        }
    
        textarea {
            @include textinput;

            @include tablet {
                width: 70%;
                margin-right: 30px;
                height: 50px;
                font-size: 1rem;
                line-height: 40px;
            }

            @include desktop {
                font-size: 0.8rem;
                margin-right: 16px;
                height: 40px;
                line-height: 33px;
            }
        }

        &-form {
            width: 100%;
        }
    }

    &__comments {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        margin-top: 32px;

        &-card {
            display: flex;
            border-bottom: 1px solid $mercury;
    
            &:first-of-type {
                border-top: 1px solid $mercury;
            }
        }

        &-profilePicture {
            margin-top: 12px;
            margin-right: 20px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 100%;

                @include tablet {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &-details {
            p {
                display: inline-block;
            }
    
            & > p {
                margin-top: 0;
            }
        }

        &-nameAndDate {
            @include paragraph;
            display: flex;
            justify-content: space-between;
    
            @include tablet {
                justify-content: flex-start;
            }
    
            &-name {
                font-family: "Avenir Demi Bold";
                font-size: 0.9rem;
            
                @include tablet {
                    margin-right: 10px;
                }

                @include desktop {
                    font-size: 0.8rem;
                }
            }
    
            &-date {
                color: $silver;
                font-size: 0.9rem;

                @include desktop {
                    font-size: 0.8rem;
                }
            }
        }

        &-comment {
            @include paragraph;

            font-size: 0.9rem;

            @include desktop {
                font-size: 0.8rem;
                padding-right: 5px;
            }
        }
    }
}